<template>
	<!-- Sticky Footer -->
	<footer class="sticky-footer">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-lg-6 col-sm-6">
					<p class="mt-1 mb-0">&copy; Copyright 2018 <strong class="text-dark">Webbiwood</strong>. All Rights
						Reserved
					</p>
				</div>
				<div class="col-lg-6 col-sm-6 text-right">
					<div class="app">
						<a href="#"><img alt="" src="img/google.png"></a>
						<a href="#"><img alt="" src="img/apple.png"></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</template>
<script>
    export default {
        name: 'Footer'
    }
</script>