<template>
    <div id="wrapper">
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
</template>

<script>
    export default {
        name: "Foot"
    }
</script>

<style scoped>

</style>