<template>
    <nav class="navbar navbar-expand navbar-light bg-white static-top osahan-nav sticky-top">
        &nbsp;&nbsp;
        <button class="btn btn-link btn-sm text-secondary order-1 order-sm-0" id="sidebarToggle">
            <i class="fas fa-bars"></i>
        </button> &nbsp;&nbsp;
        <router-link class="navbar-brand mr-1" to="/">
            <img class="img-fluid" alt="" src="/img/logo.png">
        </router-link>
        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-5 my-2 my-md-0 osahan-navbar-search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <div class="input-group-append">
                    <button class="btn btn-light" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0 osahan-right-navbar">
            <template v-if="!currentUser">
                <li class="nav-item no-arrow mx-1">
                    <router-link :to="{ name: 'login' }">Login</router-link>
                </li>
                <li class="nav-item no-arrow mx-1">
                    <router-link :to="{ name: 'register' }">Register</router-link>
                </li>
            </template>
            <template v-else>
                <li class="nav-item mx-1">
                    <router-link class="nav-link" :to="{ name: 'upload' }">
                        <i class="fas fa-plus-circle fa-fw"></i>
                        Upload Video
                    </router-link>
                </li>
                <li class="nav-item dropdown no-arrow mx-1">
                    <router-link class="nav-link dropdown-toggle"
                                 to="#"
                                 id="alertsDropdown"
                                 role="button"
                                 data-toggle="dropdown"
                                 aria-haspopup="true"
                                 aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <span class="badge badge-danger">9+</span>
                    </router-link>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                        <router-link class="dropdown-item" to="#"><i class="fas fa-fw fa-edit "></i> &nbsp; Action
                        </router-link>
                        <router-link class="dropdown-item" to="#"><i class="fas fa-fw fa-headphones-alt "></i> &nbsp;
                            Another action
                        </router-link>
                        <div class="dropdown-divider"></div>
                        <router-link class="dropdown-item" to="#"><i class="fas fa-fw fa-star "></i> &nbsp; Something
                            else here
                        </router-link>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1">
                    <router-link class="nav-link dropdown-toggle"
                                 to="#"
                                 id="messagesDropdown"
                                 role="button"
                                 data-toggle="dropdown"
                                 aria-haspopup="true"
                                 aria-expanded="false">
                        <i class="fas fa-envelope fa-fw"></i>
                        <span class="badge badge-success">7</span>
                    </router-link>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-edit "></i> &nbsp; Action</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-headphones-alt "></i> &nbsp; Another
                            action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star "></i> &nbsp; Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow osahan-right-navbar-user">
                    <router-link class="nav-link dropdown-toggle user-dropdown-link"
                                 to="#"
                                 id="userDropdown"
                                 role="button"
                                 data-toggle="dropdown"
                                 aria-haspopup="true"
                                 aria-expanded="false">
                        <img alt="Avatar" src="/img/user.png">
                        {{ currentUser.name }}
                    </router-link>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <router-link class="dropdown-item" :to="{ name: 'account'}"><i
                            class="fas fa-fw fa-user-circle"></i> &nbsp; My
                            Account
                        </router-link>
                        <router-link class="dropdown-item" :to="{ name: 'subscriptions'}"><i
                            class="fas fa-fw fa-video"></i> &nbsp;
                            Subscriptions
                        </router-link>
                        <router-link class="dropdown-item" :to="{ name: 'settings'}"><i class="fas fa-fw fa-cog"></i>
                            &nbsp; Settings
                        </router-link>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!" @click.prevent="logout"><i
                            class="fas fa-fw fa-sign-out-alt"></i> &nbsp; Logout</a>
                    </div>
                </li>
            </template>
        </ul>
    </nav>
</template>
<script>
    export default {
        name: 'Header',
        methods: {
            logout() {
                this.$store.commit('logout');
                this.$router.push('/login');
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            }
        }
    }
</script>
