<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto text-center  pt-4 pb-5">
                <h1><img alt="404" src="img/404.png" class="img-fluid"></h1>
                <h1>Sorry! Page not found.</h1>
                <p class="land">Unfortunately the page you are looking for has been moved or deleted.</p>
                <div class="mt-5">
                    <router-link class="btn btn-outline-primary" :to="{ name: 'index' }">
                        <i class="mdi mdi-home"></i> Goto Homepage
                    </router-link>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</template>

<script>
    export default {
        name: "NotFound"
    }
</script>

<style scoped>

</style>