<template>
	<ul class="sidebar navbar-nav">
		<li class="nav-item">
			<router-link class="nav-link" to="/">
				<i class="fas fa-fw fa-home"></i>
				<span>Home</span>
			</router-link>
		</li>
		<li class="nav-item">
			<router-link class="nav-link" :to="{ name: 'channels'}">
				<i class="fas fa-fw fa-users"></i>
				<span>Channels</span>
			</router-link>
		</li>
		<template v-if="currentUser">
			<li class="nav-item">
				<router-link class="nav-link" :to="{ name: 'upload' }">
					<i class="fas fa-fw fa-cloud-upload-alt"></i>
					<span>Upload Video</span>
				</router-link>
			</li>
		</template>

		<li class="nav-item dropdown">
			<router-link class="nav-link" :to="{ name: 'categories'}"
			   role="button"
			   data-toggle="dropdown"
			   aria-haspopup="true"
			   aria-expanded="false">
				<i class="fas fa-fw fa-list-alt"></i>
				<span>Categories</span>
			</router-link>
		</li>
        <li class="nav-item dropdown">
			<router-link class="nav-link" :to="{ name: 'playlist'}"
			   role="button"
			   data-toggle="dropdown"
			   aria-haspopup="true"
			   aria-expanded="false">
				<i class="fas fa-fw fa-film"></i>
				<span>Playlist</span>
			</router-link>
		</li>
		<template v-if="currentUser">
			<li class="nav-item channel-sidebar-list">
				<h6>SUBSCRIPTIONS</h6>
				<ul>
					<li>
						<router-link to="/subscriptions">
							<img class="img-fluid" alt="" src="img/s1.png"> Your Life
						</router-link>
					</li>
					<li>
						<router-link to="/subscriptions">
							<img class="img-fluid" alt="" src="img/s2.png"> Unboxing
							<span class="badge badge-warning">2</span>
						</router-link>
					</li>
					<li>
						<router-link to="/subscriptions">
							<img class="img-fluid" alt="" src="img/s3.png"> Product / Service
						</router-link>
					</li>
					<li>
						<router-link to="/subscriptions">
							<img class="img-fluid" alt="" src="img/s4.png"> Gaming
						</router-link>
					</li>
				</ul>
			</li>
		</template>
	</ul>
</template>
<script>
    export default {
        name: 'SideMenu',
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            }
        }
    }
</script>
