<template>
    <div class="video-block section-padding">
        <div class="row">
            <div class="col-md-12">
                <div class="single-video-left">
                    <div class="single-video landing">
                        <video style="width: inherit !important;"
                               width="100%"
                               height="300px"
                               autoplay
                               src="http://webbiwood.com/webbiwood.mp4"
                               controls>
                        </video>
                        <!--<iframe width="100%" height="315"-->
                        <!--src="https://www.youtube-nocookie.com/embed/8LWZSGNjuF0?rel=0&amp;controls=0&amp;showinfo=0"-->
                        <!--frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>-->
                    </div>
                    <div class="single-video-title box mb-3">
                        <h2>
                            <router-link :to="{name: 'video', params: {id: 1}}" href="#">
                                Welcome to WebbiWood
                            </router-link>
                        </h2>
                        <p class="mb-0"><i class="fas fa-eye"></i> 2,729,347 views</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'BigVideoPlayer',
        data: () => ({})
    }
</script>
<style>
    .single-video.landing {
        width: 100% !important;
    }

    /*.single-video*/
</style>
