body {
    margin:0;
    padding:0;
    font-family:Roboto,Source Sans Pro,sans-serif;
    background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
    -wenkit-background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    overflow:hidden;
}

.login-sidebar {
    min-height:100vh;
    position:relative;
    border-radius:5px;
    z-index:2;
    padding:0;
    justify-content:center;
    background:#ffffff;
}

.login-sidebar:after {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    content:"";
    opacity:0.8;
    z-index:3;
}

.login-container{
    position: absolute;
    z-index: 10;
    width: 100%;
    padding: 30px;
    top: 34%;
    margin-top: -209px;
}

.login-container h2{
    text-align: left;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 3px;
    color: #757C85;
    font-family: 'Helvetica Neue', Helvetica, Arial, Roboto, courier;
    font-size: 26px;
}

.login-container form{
    padding-top:45px;
}

.login-container .glyphicon{
    top:-1px;
    font-size:13px;
}

.login-container .signingin .glyphicon{
    top:2px;
    left:-5px;
}

.register-container {
    position: absolute;
    z-index: 10;
    width: 100%;
    padding: 30px;
    top: 34%;
    margin-top: -209px;
}

.register-container h2{
    text-align: left;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 3px;
    color: #757C85;
    font-family: 'Helvetica Neue', Helvetica, Arial, Roboto, courier;
    font-size: 26px;
}

.register-container form{
    padding-top:45px;
}

.register-container .glyphicon{
    top:-1px;
    font-size:13px;
}

.register-container .signingin .glyphicon{
    top:2px;
    left:-5px;
}

.logo-title-container{
    position: fixed;
    width: 100%;
    top: 50%;
    margin-top: -100px;
}

.logo-container {
    text-align:center;
    position:relative;
    z-index: 10;
    opacity:0.8;
}

.logo{
    height:auto;
    padding:30px 0px;
    max-width: 100px;
    margin: 0 auto;
}

.logo-container .logo{
    padding:50px 0px;
}

.group {
    position:relative;
    margin-bottom:45px;
}
.group input {
    font-size:15px;
    padding:10px 10px 10px 10px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid rgba(53,61,71, 0.1);
    background:none;
    color:#454C55;
}
.group input:focus { outline:none; }

.group label                 {
    color:rgba(53,61,71, 0.3);
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:5px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

.group input:focus ~ label, input:valid ~ label  {
    top:-20px;
    font-size:14px;
    color:rgba(53,61,71, 0.5);
}

.bar    { position:relative; display:block; width:100%; }
.bar:before, .bar:after {
    content:'';
    height:1px;
    width:0;
    bottom:1px;
    position:absolute;
    background:rgba(53,61,71, 0.3);
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
    width:50%;
}

.highlight {
    position:absolute;
    height:0%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

.group input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from { background:rgba(255,255,255, 0.7); }
    to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:rgba(255,255,255, 0.7); }
    to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:rgba(255,255,255, 0.7); }
    to  { width:0; background:transparent; }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}

.span-input{
    margin-left:10px;
    position:relative;
    top: -3px;
    font-size: 15px;
}
.login-button {
    display:block;
    text-align:center;
    text-decoration:none;
    color:#eee;
    font-family:Roboto,Source Sans Pro,sans-serif;
    font-weight:100;
    padding:15px 10px;
    border-radius:1px;
    outline:none !important;
    opacity:0.8;
    border:0px;
}
.login-button:hover, .login-button:focus {
    color: #FFF;
    opacity: 1
}
.copy {
    width: auto;
    padding: 30px;
}

.copy h1 {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    z-index: 9999;
    position: relative;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
    top: -10px;
    line-height: 45px;
    margin: 20px 0 0 20px;
}

.copy p {
    text-shadow: 0 0 10px #000;
    color: #fff;
    font-size: 20px;
    max-width: 650px;
    opacity: .6;
    position: relative;
    z-index: 99;
    font-weight: 200;
    margin-top: 0;
    left: 25px;
}
.faded-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(50, 50, 50, 0.5);
}
.glyphicon-refresh {
    -webkit-animation:spin 0.6s infinite linear;
    -moz-animation:spin 0.6s infinite linear;
    animation:spin 0.6s infinite linear;
}
.alert-black {
    background: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
    margin: 20px;
}