<template>
    <div class="container-fluid">
        <div class="video-block section-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title">

                        <h6>Playlists</h6>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="channels-card">
                        <div class="row">
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-image">
                                <a href="#"><img class="img-fluid img-responsive" src="img/s1.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-body">
                            <div class="channels-title">
                                <i class="fa fa-clock"></i> : 02:32:02<br>
                                <i class="fa fa-film"></i>  : 12 Videos
                            </div>
                            <div class="channels-view">

                            </div>
                        </div>
                        </div>
                        </div>
                        <div class="channels-card-body">
                            <div class="channels-title">
                            <div class="channels-card-image-btn"><button type="button" class="btn btn-danger btn-sm border-none">PlayList Name <i class="fas fa-check-circle text-success"></i> </button></div>
                            Channels Name
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="channels-card">
                        <div class="row">
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-image">
                                <a href="#"><img class="img-fluid img-responsive" src="img/s2.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-body">
                            <div class="channels-title">
                                <i class="fa fa-film"></i> : 12 Videos<br>
                                <i class="fa fa-clock"></i> : 02:32:02
                            </div>
                            <div class="channels-view">

                            </div>
                        </div>
                        </div>
                        </div>
                        <div class="channels-card-body">
                            <div class="channels-title">
                            <div class="channels-card-image-btn"><button type="button" class="btn btn-danger btn-sm border-none">PlayList Name <i class="fas fa-check-circle text-success"></i> </button></div>
                            Channels Name
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="channels-card">
                        <div class="row">
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-image">
                                <a href="#"><img class="img-fluid img-responsive" src="img/s3.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-body">
                            <div class="channels-title">
                                <i class="fa fa-film"></i> : 12 Videos<br>
                                <i class="fa fa-clock"></i> : 02:32:02
                            </div>
                            <div class="channels-view">

                            </div>
                        </div>
                        </div>
                        </div>
                        <div class="channels-card-body">
                            <div class="channels-title">
                            <div class="channels-card-image-btn"><button type="button" class="btn btn-danger btn-sm border-none">PlayList Name <i class="fas fa-check-circle text-success"></i> </button></div>
                            Channels Name
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="channels-card">
                        <div class="row">
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-image">
                                <a href="#"><img class="img-fluid img-responsive" src="img/s4.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-body">
                            <div class="channels-title">
                                <i class="fa fa-film"></i> : 12 Videos<br>
                                <i class="fa fa-clock"></i> : 02:32:02
                            </div>
                            <div class="channels-view">

                            </div>
                        </div>
                        </div>
                        </div>
                        <div class="channels-card-body">
                            <div class="channels-title">
                            <div class="channels-card-image-btn"><button type="button" class="btn btn-danger btn-sm border-none">PlayList Name <i class="fas fa-check-circle text-success"></i> </button></div>
                            Channels Name
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="channels-card">
                        <div class="row">
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-image">
                                <a href="#"><img class="img-fluid img-responsive" src="img/s5.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-body">
                            <div class="channels-title">
                                <i class="fa fa-film"></i> : 12 Videos<br>
                                <i class="fa fa-clock"></i> : 02:32:02
                            </div>
                            <div class="channels-view">

                            </div>
                        </div>
                        </div>
                        </div>
                        <div class="channels-card-body">
                            <div class="channels-title">
                            <div class="channels-card-image-btn"><button type="button" class="btn btn-danger btn-sm border-none">PlayList Name <i class="fas fa-check-circle text-success"></i> </button></div>
                            Channels Name
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="channels-card">
                        <div class="row">
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-image">
                                <a href="#"><img class="img-fluid img-responsive" src="img/s6.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-body">
                            <div class="channels-title">
                                <i class="fa fa-film"></i> : 12 Videos<br>
                                <i class="fa fa-clock"></i> : 02:32:02
                            </div>
                            <div class="channels-view">

                            </div>
                        </div>
                        </div>
                        </div>
                        <div class="channels-card-body">
                            <div class="channels-title">
                            <div class="channels-card-image-btn"><button type="button" class="btn btn-danger btn-sm border-none">PlayList Name <i class="fas fa-check-circle text-success"></i> </button></div>
                            Channels Name
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="channels-card">
                        <div class="row">
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-image">
                                <a href="#"><img class="img-fluid img-responsive" src="img/s8.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-body">
                            <div class="channels-title">
                                <i class="fa fa-film"></i> : 12 Videos<br>
                                <i class="fa fa-clock"></i> : 02:32:02
                            </div>
                            <div class="channels-view">

                            </div>
                        </div>
                        </div>
                        </div>
                        <div class="channels-card-body">
                            <div class="channels-title">
                            <div class="channels-card-image-btn"><button type="button" class="btn btn-danger btn-sm border-none">PlayList Name <i class="fas fa-check-circle text-success"></i> </button></div>
                            Channels Name
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="channels-card">
                        <div class="row">
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-image">
                                <a href="#"><img class="img-fluid img-responsive" src="img/s7.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-3 mb-3">
                            <div class="channels-card-body">
                            <div class="channels-title">
                                <i class="fa fa-film"></i> : 12 Videos<br>
                                <i class="fa fa-clock"></i> : 02:32:02
                            </div>
                            <div class="channels-view">

                            </div>
                        </div>
                        </div>
                        </div>
                        <div class="channels-card-body">
                            <div class="channels-title">
                            <div class="channels-card-image-btn"><button type="button" class="btn btn-danger btn-sm border-none">PlayList Name <i class="fas fa-check-circle text-success"></i> </button></div>
                            Channels Name
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center pagination-sm mb-0">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /.container-fluid -->
</template>

<script>
    export default {
        name: "Playlist"
    }
</script>

<style scoped>

</style>
