<template>
    <div class="login-main-left">
        <div class="text-center mb-5 login-main-left-header pt-4">
            <img src="img/favicon.png" class="img-fluid" alt="LOGO">
            <h5 class="mt-3 mb-3">Reset Password</h5>
            <p>It is a long established fact that a reader <br> will be distracted by the readable.</p>
        </div>
        <form action="index.html">
            <div class="form-group">
                <label>Enter Email / Mobile number</label>
                <input type="text" class="form-control" placeholder="Enter Email / Mobile number">
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Reset Password</button>
            </div>
        </form>
        <div class="text-center mt-5">
            <p class="light-gray">Don’t have an account? <a href="register.html">Sign Up</a></p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ForgotPassword"
    }
</script>

<style scoped>

</style>