<template>
   <div class="login-main-left">
      <div class="text-center mb-5 login-main-left-header pt-4">
         <img src="img/favicon.png" class="img-fluid" alt="LOGO">
         <h5 class="mt-3 mb-3">Welcome to Webbiwood</h5>
         <p>...from obscurity to limelight</p>
      </div>
      <form @submit.prevent="authenticate">
          <div class="form-group row" v-if="authError">
              <p class="error">
                  {{ authError }}
              </p>
          </div>
          <div class="form-group" :class="{'has-error': errors.has('email') }">
              <label class="control-label">Email</label>
              <input type="email" name="email" v-model="user.email" v-validate="'required|email'" class="form-control" placeholder="Email">
              <p class="text-danger" v-if="errors.has('email')">{{ errors.first('email') }}</p>
          </div>
         <div class="form-group" :class="{'has-error': errors.has('password') }">
            <label>Password</label>
            <input type="password" name="password" v-model="user.password" v-validate="{ required: true, min: 4 }" class="form-control" placeholder="Password">
             <p class="text-danger" v-if="errors.has('password')">{{ errors.first('password') }}</p>
         </div>
         <div class="mt-4">
            <div class="row">
               <div class="col-12">
                  <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Sign In</button>
               </div>
            </div>
         </div>
      </form>
      <div class="text-center mt-5">
         <p class="light-gray">Don’t have an account? <a href="/register">Sign Up</a></p>
      </div>
   </div>
</template>


<script>
    import {login} from '../../helpers/auth';

    export default {
        name: "Login",
        data() {
            return {
                user: {
                    email : "",
                    password : "",
                },
                error: null,
            };
        },
        methods: {
            authenticate() {
                this.$store.dispatch('login');
                login(this.$data.user)
                    .then((res) => {
                        this.$store.commit("loginSuccess", res);
                        this.$router.push({path: '/'});
                    })
                    .catch((error) => {
                        this.$store.commit("loginFailed", {error});
                    });
            }
        },
        computed: {
            authError() {
                return this.$store.getters.authError;
            }
        }
    }
</script>

<style scoped>
    .error {
        text-align: center;
        color: red;
    }
</style>
