<template>
   <div class="login-main-left">
      <div class="text-center mb-5 login-main-left-header pt-4">
         <img src="img/favicon.png" class="img-fluid" alt="LOGO">
         <h5 class="mt-3 mb-3">Welcome to Webbiwood</h5>
         <p>...from obscurity to limelight.</p>
      </div>
      <form @submit.prevent="authenticate">
         <div class="form-group row" v-if="authError">
            <p class="error">
               {{ authError }}
            </p>
         </div>
         <div class="form-group" :class="{'has-error': errors.has('user') }">
            <label>Username</label>
            <input type="text" name="user" v-validate="{ required: true }" v-model="user.user" class="form-control" placeholder="Username">
            <p class="text-danger" v-if="errors.has('user')">{{ errors.first('user') }}</p>
         </div>
         <div class="form-group" :class="{'has-error': errors.has('email') }">
            <label class="control-label">Email</label>
            <input type="email" name="email" v-model="user.email" v-validate="'required|email|verify_email'" class="form-control" placeholder="Email">
            <p class="text-danger" v-if="errors.has('email')">{{ errors.first('email') }}</p>
         </div>
         <div class="form-group" :class="{'has-error': errors.has('name') }">
            <label>Name</label>
            <input type="text" name="name" v-model="user.name" v-validate="{ required: true }" class="form-control" placeholder="Your name">
            <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
         </div>
         <div class="form-group" :class="{'has-error': errors.has('password') }">
            <label>Password</label>
            <input type="password" name="password" v-model="user.password" v-validate="{ required: true, min: 4 }" class="form-control" placeholder="Password">
            <p class="text-danger" v-if="errors.has('password')">{{ errors.first('password') }}</p>
         </div>
         <div class="form-group" :class="{'has-error': errors.has('mobile') }">
            <label>Mobile</label>
            <input type="tel" name="mobile" v-model="user.mobile" v-validate="'required|numeric'" class="form-control" placeholder="Your mobile number">
            <p class="text-danger" v-if="errors.has('mobile')">{{ errors.first('mobile') }}</p>
         </div>
         <div class="form-group" :class="{'has-error': errors.has('gender') }">
            <label>Gender</label>
            <select name="gender"
                    v-validate="{ required: true }"
                    v-model="user.gender"
                    class="form-control" >
                <option disabled value="">Please select one</option>
               <option value="Male">Male</option>
               <option value="Female">Female</option>
            </select>
            <p class="text-danger" v-if="errors.has('gender')">{{ errors.first('gender') }}</p>
         </div>
         <div class="mt-4">
            <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Sign Up</button>
         </div>
      </form>
      <div class="text-center mt-5">
         <p class="light-gray">Already have an Account? <a href="/login">Sign In</a></p>
      </div>
   </div>
</template>


<script>
    import {register} from '../../helpers/auth';

    export default {
        name: "Register",
        data() {
            return {
                user : {
                    user: "",
                    name: "",
                    email: "",
                    password: '',
                    mobile: "",
                    gender: "",
                },
                error: null,
                respon: null,
            };
        },
        created() {
            this.$validator.extend('async_validate_email', {
                getMessage: field => 'The email is already registered.',
                validate: value => http.post('user/email', { email: value })
                    .then(({ data }) => {
                        //console.log('data.email', !!data.user.email)
                        return { valid: !!data.user.email }
                    })
            });
            this.$validator.attach('async_validate_email', 'required|email|async_validate_email');
        },
        methods: {
            authenticate(){
                this.$validator.validateAll()

                if (!this.errors.any()) {

                    this.$store.dispatch('register');
                    register(this.$data.user)
                        .then((res) => {
                            this.$store.commit("registerSuccess", res);
                            this.$router.push({path: '/'});
                        })
                        .catch((error) => {
                            this.$store.commit("registerFailed", {error});
                        });

                }
            }
        },
        computed: {
            authError() {
                return this.$store.getters.authError;
            }
        }
    }
</script>

<style scoped>
   .error {
      text-align: center;
      color: red;
   }
</style>
