<template>
	<div id="app">
		<component :is="layout">
            <router-view/>
        </component>
	</div>
</template>
<script>

    const default_layout = "app";

    export default {
        name: 'WebbiWoodApp',
		computed: {
            layout() {
                return (this.$route.meta.layout || default_layout) +  '-layout';
			}
		}
    }
</script>
<style scoped>
    @import './assets/vuedropzone.css';
</style>