<template>
    <div class="container-fluid">
        <div class="single-channel-image">
            <img class="img-fluid" alt="" src="img/channel-banner.png">
            <div class="channel-profile">
                <img class="channel-profile-img" alt="" src="img/s2.png">
                <div class="social hidden-xs">
                    Social &nbsp;
                    <a class="fb" href="#">Facebook</a>
                    <a class="tw" href="#">Twitter</a>
                    <a class="gp" href="#">Google</a>
                </div>
            </div>
        </div>
        <div class="single-channel-nav">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="channel-brand" href="#">Osahan Channel <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" @click="selectedTab = 'video'">Videos <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @click="selectedTab = 'playlist'">Playlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @click="selectedTab = 'channels'">Channels</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @click="selectedTab = 'activities'">Activities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @click="selectedTab = 'about'">About (First Name)</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <a href="#" class="btn btn-outline-danger btn-sm"><i class="fa fa-edit"></i> Edit Profile </a> &nbsp;&nbsp;&nbsp; <button class="btn btn-outline-danger btn-sm" type="button">Subscribe <strong>1.4M</strong></button>
                    </form>
                </div>
            </nav>
        </div>
        <div>
        <ProfileTabs v-show="selectedTab === 'video'" />
        <PlaylistTabs v-show="selectedTab === 'playlist'" />
        <ChannelTabs v-show="selectedTab === 'channels'" />
        <ActivityTabs v-show="selectedTab === 'activities'" />
        <AboutTabs v-show="selectedTab === 'about'" />
            
        </div>
        <!-- /.container-fluid -->
    </div>
</template>

<script>
import ProfileTabs from './ProfileTabs'
import PlaylistTabs from './PlaylistTabs'
import ActivityTabs from './ActivityTabs'
import ChannelTabs from './ChannelTabs'
import AboutTabs from './AboutTabs'
    export default {
        name: "Single",
        components: { ProfileTabs, PlaylistTabs, ChannelTabs, ActivityTabs, AboutTabs },
        data: () => ({
            selectedTab: 'video'
        })
    }
</script>

<style scoped>

</style>
