<template>
    <div>
        <Header />
        <div id="wrapper">
            <SideMenu/>
            <div id="content-wrapper">
                <slot></slot>
                <Footer/>
            </div>
        </div>
    </div>
</template>

<script>
    import Header from "../components/Header";
    import SideMenu from "../components/Sidebar";
    import Footer from "../components/Footer";
    import NotFound from "../components/NotFound";

    export default {
        name: "Default",
        components: {Header, SideMenu, Footer, NotFound},
    }
</script>

<style scoped>

</style>